.home-page-body {
  margin: 0;
  font-family: "Arial", sans-serif;
  background-color: #333;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: min(100%, 100vh);
  line-height: 1.6;
  font-weight: 700;
  background-image: url('../img/home-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1200px;
  width: 100%;
}

.section {
  border-radius: 10px;
  margin: 20px;
  overflow: hidden;
  width: 300px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  transform-origin: center;
  transition: transform 0.3s ease-in-out;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
}

.section:nth-child(1) {
  background-image: url("../img/business.jpg");
}

.section:nth-child(2) {
  background-image: url("../img/farming.jpg");
}

.section:nth-child(3) {
  background-image: url("../img/job-search.jpg");
}

.section:nth-child(4) {
  background-image: url("../img/donation.jpg");
}
.section:hover {
  transform: scale(1.05);
}

.section-content {
  padding: 20px;
  text-align: center;
  overflow: hidden;
  height: 100%;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(12px);
}

.section-icon {
  font-size: 3rem;
  margin-bottom: 10px;
}

h2 {
  margin-bottom: 10px;
}


.home-search-button {
  color: #333;
  padding: 10px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  padding: 15px;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.section:nth-child(1)  .home-search-button {
    background-color: #4285F4;
}

.section:nth-child(2)  .home-search-button {
    background-color: #DB4437;    
}

.section:nth-child(3)  .home-search-button {
    background-color: #F4B400;    
}

.section:nth-child(4)  .home-search-button {
    background-color: #0F9D58;    
}

.home-search-button:hover {
  background-color: rgb(52, 43, 43);
}




/* animation */

.section:nth-child(1) {
    animation: fadeInLeft 2s ease; /* Apply fade-in-top animation */
  }
  
  @keyframes fadeInLeft {
    from {
      opacity: 0;
      transform: translateX(-50vw); /* Move from top */
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }


.section:nth-child(2) {
    animation: fadeInTop 2s ease; /* Apply fade-in-top animation */
  }
  
  @keyframes fadeInTop {
    from {
      opacity: 0;
      transform: translateY(-50vw); /* Move from top */
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .section:nth-child(3) {
    animation: fadeInRight 2s ease; /* Apply fade-in-right animation */
  }
  
  @keyframes fadeInRight {
    from {
      opacity: 0;
      transform: translateX(50vw); /* Move from right */
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .section:nth-child(4) {
    animation: fadeInBottom 2s ease; /* Apply fade-in-bottom animation */
  }
  
  @keyframes fadeInBottom {
    from {
      opacity: 0;
      transform: translateY(50vw); /* Move from bottom */
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
