
.login-body {
  background-color: #080710;
  width: 100vw;
  height: 100vh;
}
.background {
  overflow: hidden;
  width: 430px;
  height: 620px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}
.background .shape {
  height: 200px;
  width: 200px;
  position: absolute;
  border-radius: 50%;
}
.shape:first-child {
  background: linear-gradient(#1845ad, #23a2f6);
  left: -54px;
    top: 20px;
}
.shape:last-child {
  background: linear-gradient(to right, #ff512f, #f09819);
  right: -72px;
    bottom: -63px;
}
.login-page, .signup-page {
  width: 400px;
  background-color: rgba(255, 255, 255, 0.13);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 35px;
}

.login-page *, .signup-page * {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}
.login-page > h3, .signup-page>h3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

.log-sign-label {
  display: block;
  margin-top: 25px;
  font-size: 16px;
  font-weight: 500;
}
.log-sign-input {
  display: block;
  height: 45px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}
::placeholder {
  color: #e5e5e5;
}
#login,
#signup {
  margin-top: 30px;
  width: 100%;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

#login {
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #09e083 0,
    #1a7624c6 100%
  );
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(44, 105, 68, 0.3) 0 7px 13px -3px, rgba(47, 98, 77, 0.5) 0 -3px 0 inset;
}

#login:disabled, #signup:disabled {
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #040404 0,
    #595a59c6 100%
  );
}

#signup {
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #5adaff 0,
    #5468ff 100%
  );
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
}

.register-link {
  font-size: 14px;
  color: #555;
  margin-top: 15px;
}

.register-link a {
  color: #007bff;
  text-decoration: none;
}

.register-link a:hover {
  text-decoration: underline;
}

.login-link {
  margin-top: 10px;
  font-size: 14px;
  color: #333; /* Change color as needed */
}

.login-link a {
  color: #007BFF; /* Change color as needed */
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}

@media screen and (min-width:600px) {
  .background {
    overflow: visible;
  }
}